<div style="background: url(assets/img/backgrounds/navidad.jpg); background-size: cover;">
<app-header></app-header>
<div class="espaciado"></div>
<div class="espaciado"></div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            
        </div>
        <div class="sombraUno p-5 text-center">
            <h3 class="text-light fuenteTres">LOGIN</h3>
            <form action="">
                <input class="fuenteUno fw-3 text-light w-100 mb-2" type="text" placeholder="Correo">
                <input class="fuenteUno fw-3 text-light w-100 mb-2" type="password" placeholder="Clave">
                <a href="http://" class="text-light fuenteUno fw-3">INGRESAR</a>
            </form>
            <div class="espacio"></div>
            <div class="text-center">
                <img src="assets/img/icons/google-favicon.png" class="mx-auto" alt="" height="100" width="auto">
                <a href="http://" class="text-light fuenteUno fw-3"><p>INGRESAR CON GMAIL</p></a>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="espacio"></div>
<div class="espaciado"></div>
<div class="espaciado"></div>
</div>

