<div style="background: url(assets/img/backgrounds/navidad.jpg); background-size: cover; background-repeat: no-repeat; background-position: center center;">
<app-header></app-header>
<div class="espaciado"></div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4">
                <div class="sombraUno p-5 text-center">
                    <div class="p-5">
                        <img src="assets/img/icons/facework-white.png" alt="" class="img-fluid">
                    </div>
                    <h3 class="text-light fuenteTres">LOGIN</h3>
                    <form action="">
                        <input class="fuenteUno fw-3 t3 w-100 mb-2" type="text" placeholder="Correo">
                        <input class="fuenteUno fw-3 t3 w-100 mb-2" type="password" placeholder="Clave">
                        <a href="http://" class="text-light fuenteUno fw-3">INGRESAR</a><br>
                        <a href="http://" class="fuenteUno t3 fw-3">Recordar contraseña</a>
                    </form>
                    <div class="text-center">
                        <img src="assets/img/icons/google-favicon.png" class="mx-auto drop mb-2" alt="" height="100" width="auto">
                        <a href="http://" class="text-light fuenteUno fw-3"><p>INGRESAR CON GMAIL</p></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="espaciado"></div>
<div class="espaciado"></div>
</div>

