<app-header></app-header>
<div class="espaciado"></div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="sombraUno p-5 text-center">
            <h3 class="text-light fuenteTres">LOGIN</h3>
            <form action="">
                <input class="fuenteUno fw-3 text-light transparenciaUno w-100 mb-2" type="text" placeholder="Correo">
                <input class="fuenteUno fw-3 text-light transparenciaUno w-100 mb-2" type="password" placeholder="Clave">
                <a href="http://" class="text-light fuenteUno fw-3">INGRESAR</a>
            </form>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
<div class="espaciado"></div>